<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Creative Food Reviews</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/static/js/navbar.js"></script>
    <link rel="stylesheet" href="/static/css/custom.css">

    {% block header %}
    {% endblock %}
  </head>

  <body>
    {% include 'fragments/navbar.html' %}
    {% include 'fragments/flash.html' %}
    {% block content %}
    {% endblock %}
  </body>
</html>
