<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/static/img/apple.png">
        &nbsp;<b>Cerner Food Reviews</b>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      {% if request.user %}
        <div class="navbar-start">
          
        </div>
      {% endif %}

      <div class="navbar-end">
        {% if request.user %}
          <a class="navbar-item" href="/new">New Review</a>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light" href="/logout">Logout</a>
            </div>
          </div>
        {% else %}
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/register">
                <strong>Register</strong>
              </a>
              <a class="button is-light" href="/login">
                Log in
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
