<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/static/img/apple.png">
        &nbsp;<b>Cerner Food Reviews</b>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
      {% if request.user %}
        <div class="navbar-start">
          <a class="navbar-item" href="/new">New Review</a>
        </div>
      {% endif %}

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if request.user %}
              <a class="button is-light" href="/logout">Logout</a>
            {% else %}
              <a class="button is-primary" href="/register">
                <strong>Register</strong>
              </a>
              <a class="button is-light" href="/login">
                Log in
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
