{% extends "base.html" %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="columns">
            <div class="column is-one-quarter-desktop">
              <figure class="image is-square">
                <img src="{{ review.image }}">
              </figure>
            </div>
            <div class="column">
              <h1 class="title">
                {{ review.meal }} - {{ review.source }}
                {% if user_id == request.user.id %}
                  <a class="button is-link" href="/reviews/{{ review.id }}/edit" style="float: right; font-weight: 400;">Edit Review</a>
                {% endif %}
              </h1>
              <h3 class="subtitle">By {{ review.user.username }}</h3>
              <p>{{ review.text }}</p>
              <hr>
              <h3 class="title is-5">Score: {{ review.rating }}/10</h3>
            </div>
          </div>
        </div>
      </div>
      
        <div>&nbsp;</div>
        <div class="columns">
          <div class="column is-one-fifth-desktop is-offset-four-fifths-desktop">
            
          </div>
        </div>
      
    </div>
  </section>
{% endblock %}
